.firstdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
.maindiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
#apply-butto:hover{
 background-color: rgb(45, 72, 230);
}
#apply-button{
    color: white;
    border: none;
    background-color: darkblue;
}
.main-trans{
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 120px; 
}
#amount-input{
    border-radius: 10px;
    margin-bottom: 8%;
}
#date-input{
    border-radius: 10px;
    margin-bottom: 8%;
}
#time-input{
    border-radius: 10px;
    margin-bottom: 8%;
}
#description-input{
    padding: 10%;
    border-radius: 10px;
    margin-bottom: 8%;
}
#categories-input{
    border-radius: 10px;
    margin-bottom: 8%;
}
/* #expenseAmount{
    border-radius: 10px;
    margin-bottom: 2%;
} */
#expenseDescription{
    padding: 10%;
    border-radius: 10px;
}
.text-Transaction{
    color: white;
    font-size: 30px;
}
#income-button:hover{
    background-color: rgb(45, 72, 230);
}
#income-button{
    color: white;
    border: none;
    background-color: darkblue;
}
#expense-button:hover{
   background-color: rgb(45, 72, 230);
}
#expense-button{
    color: white;
    border: none;
    background-color: darkblue;
}
#add-income:hover{
    background-color: rgb(45, 72, 230);
}
#add-income{
    color: white;
    border: none;
    background-color: darkblue;
}
.modalDiv{
    margin-bottom: 5% ;
    /* border: solid red; */
}